.filterButton {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  line-height: 16.8px;
  background-color: #00b207;
  border: none;
  border-radius: 45px;
  padding: 14px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filterButton span {
  margin-right: 10px;
}
.sortLabel {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #808080;
}
Select {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #4d4d4d;
}
Select {
  padding: 7px 10px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  outline: none;
  cursor: pointer;
}
.sortDropdown {
  background-color: transparent;
  margin-right: 20px;
}

.resultsCount {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #1a1a1a;
}
.resultsCount span {
  font-weight: 600;
  line-height: 16.2px;
  padding-right: 5px;
}
